In [2]:
empty_dictionary = {}
print(type(empty_dictionary))

<class 'dict'>

In [3]:
bio_data = {'Name': 'Bob Marley', 'Age':35, 'Height':"5.6 ft", 'Hobby': 'Music'}
print(bio_data)

{'Name': 'Bob Marley', 'Age': 35, 'Height': '5.6 ft', 'Hobby': 'Music'}

In [4]:
credentials = { 'Login' : 'bobmarley' , 'Password': 'password123' , 'PremiumUser' : True }

In [5]:
hobby = bio_data['Hobby']
print(hobby)

Music

In [6]:
age = bio_data['Age']
print(age)

35

In [7]:
age = bio_data.get('Age')
print(age)

35

In [8]:
profession  =  bio_data.get('Profession','NA')
print(profession)

NA

In [9]:
bio_data['Age'] = 36
print(bio_data)

{'Name': 'Bob Marley', 'Age': 36, 'Height': '5.6 ft', 'Hobby': 'Music'}

In [10]:
#add a key, val
bio_data['Profession'] = 'Singer'
print(bio_data)

{'Name': 'Bob Marley', 'Age': 36, 'Height': '5.6 ft', 'Hobby': 'Music', 'Profession': 'Singer'}

In [11]:
print('Profession' in bio_data)

True

In [14]:
#get list of keys
print(list(bio_data.keys()))

#get list of values
print(list(bio_data.values()))

#get list of items as list of tuples
print(list(bio_data.items()))

#get items as object of type dict
print(bio_data.items())

['Name', 'Age', 'Height', 'Hobby', 'Profession']
['Bob Marley', 36, '5.6 ft', 'Music', 'Singer']
[('Name', 'Bob Marley'), ('Age', 36), ('Height', '5.6 ft'), ('Hobby', 'Music'), ('Profession', 'Singer')]
dict_items([('Name', 'Bob Marley'), ('Age', 36), ('Height', '5.6 ft'), ('Hobby', 'Music'), ('Profession', 'Singer')])

In [15]:
new_dictionary = dict(Country='Jamaica', Songs=['One Love','Misty Morning'])

In [16]:
bio_data.update(new_dictionary)
print(bio_data)
bio_data.update()
bio_data.update(credentials)
print(bio_data)

{'Name': 'Bob Marley', 'Age': 36, 'Height': '5.6 ft', 'Hobby': 'Music', 'Profession': 'Singer', 'Country': 'Jamaica', 'Songs': ['One Love', 'Misty Morning']}
{'Name': 'Bob Marley', 'Age': 36, 'Height': '5.6 ft', 'Hobby': 'Music', 'Profession': 'Singer', 'Country': 'Jamaica', 'Songs': ['One Love', 'Misty Morning'], 'Login': 'bobmarley', 'Password': 'password123', 'PremiumUser': True}

In [17]:
del bio_data['Songs']
print(bio_data)

{'Name': 'Bob Marley', 'Age': 36, 'Height': '5.6 ft', 'Hobby': 'Music', 'Profession': 'Singer', 'Country': 'Jamaica', 'Login': 'bobmarley', 'Password': 'password123', 'PremiumUser': True}

In [18]:
students_data = { 1:['Shivam Bansal', 24] , 2:['Udit Bansal',25], 3:['Sonam Gupta', 26], 4:['Saif Ansari',24], 5:['Huzefa Calcuttawala',27]}

print(students_data)

{1: ['Shivam Bansal', 24], 2: ['Udit Bansal', 25], 3: ['Sonam Gupta', 26], 4: ['Saif Ansari', 24], 5: ['Huzefa Calcuttawala', 27]}

In [19]:
print(len(students_data))

5

In [20]:
#see all the details of students. 
print(list(students_data.values()))

[['Shivam Bansal', 24], ['Udit Bansal', 25], ['Sonam Gupta', 26], ['Saif Ansari', 24], ['Huzefa Calcuttawala', 27]]

In [21]:
students_data[6] = ['Manasi Sharma', 22]
print(students_data)

{1: ['Shivam Bansal', 24], 2: ['Udit Bansal', 25], 3: ['Sonam Gupta', 26], 4: ['Saif Ansari', 24], 5: ['Huzefa Calcuttawala', 27], 6: ['Manasi Sharma', 22]}

In [29]:
del students_data[2]
print(students_data)

{1: ['Shivam Bansal', 24], 3: ['Sonam Gupta', 26], 4: ['Saif Ansari', 24], 5: ['Huzefa Calcuttawala', 27], 6: ['Manasi Sharma', 22]}

In [30]:
print(list(students_data.keys()))

[1, 3, 4, 5, 6]

In [23]:
print(students_data.keys())
print(students_data.values())

# take second element for sort
def takeSecond(elem):
    return elem[1]

new_list = sorted(students_data.values(),key=takeSecond)
print(new_list)

dict_keys([1, 2, 3, 4, 5, 6])
dict_values([['Shivam Bansal', 24], ['Udit Bansal', 25], ['Sonam Gupta', 26], ['Saif Ansari', 24], ['Huzefa Calcuttawala', 27], ['Manasi Sharma', 22]])
[['Manasi Sharma', 22], ['Shivam Bansal', 24], ['Saif Ansari', 24], ['Udit Bansal', 25], ['Sonam Gupta', 26], ['Huzefa Calcuttawala', 27]]